{
    "env": {
        "es": {
            "presets": [
                ["@babel/preset-env", {
                    "modules": false
                }
                ],
            "@babel/preset-typescript"
            ]
        },
        "development": {
            "presets": [
                ["@babel/preset-env", { "targets": { "node": "0.10" } }],"@babel/preset-typescript"
            ],
            "plugins": [
                [
                    "add-module-exports",
                    {
                        "addDefaultProperty": true
                    }
                ]
            ]
        }
    }
}